body {
    background-color: black;
    color: orange;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: orange;
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: orange;
    background-color: #262323;
    font-size: 20px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
}

input[readonly] {
    background-color: #262323;
}

footer {
    text-align: left;
    background-color: #000;
    color: orange;
    padding: 20px;
    font-size: 10px;
}

footer p {
    margin: 10;
}

@media (max-width: 768px) {
    /* Styles pour les appareils mobiles */
    body {
        background-size: cover;
        padding: 10px;
    }

    .input-container {
        width: 100%;
    }

    /* Autres styles spécifiques aux appareils mobiles */
}
